[submodule "source/3rdparty"]
	path = source/3rdparty
	url = https://aizawa_miyuki@bitbucket.org/aizawa_miyuki/3rdpartylibraries.git
[submodule "source/3rdparty-modules/Qt-Advanced-Docking-System"]
	path = source/3rdparty-modules/Qt-Advanced-Docking-System
	url = https://github.com/aizak-vare/Qt-Advanced-Docking-System.git
[submodule "source/3rdparty-modules/qt-opencv-multithreaded"]
	path = source/3rdparty-modules/qt-opencv-multithreaded
	url = https://github.com/aizak-vare/qt-opencv-multithreaded.git
[submodule "source/3rdparty-modules/Qt-Frameless-Window-DarkStyle"]
	path = source/3rdparty-modules/Qt-Frameless-Window-DarkStyle
	url = https://github.com/aizak-vare/Qt-Frameless-Window-DarkStyle.git
